* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

main {
  position: relative;
}

.topBG {
  height: 150px;
  width: 100%;
  background-color: #259688;
}

.bottomBG {
  height: calc(100vh - 150px);
  width: 100%;
  background-color: #DDDCD2;
}

.box {
  display: flex;
  width: 80%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.left {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border-right: 1px solid #D6D6D6;
}

.right {
  width: 65%;
  height: 100%;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  background-color: #EAEAEA;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user .info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}

.user .info p {
  font-weight: 400;
}

.user .icons {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #B1B1B1;
}

.user .icons i {
  cursor: pointer;
}

.user .icons i:not(:last-child) {
  margin-right: 20px;
}

.notify {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #8EDAFC;
}

.notify .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: white;
  color: #8EDAFC;
}

.notify .testi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notify .testi p:last-child {
  color: #5d7485;
  font-size: 0.9em;
  text-decoration: underline;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  padding: 15px;
}

.search i {
  color: #B1B1B1;
  cursor: pointer;
}

.search input[type="text"] {
  width: 90%;
  margin-left: 15px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #D6D6D6;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.list .active {
  background-color: #E9EBEB;
}

.list .container {
  display: flex;
  padding: 10px 15px;
  cursor: pointer;
}

.list .container div:nth-child(2) {
  margin-left: 10px;
}

.list .container div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.right .contact {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #EAEAEA;
}

.contact span {
  display: flex;
  align-items: center;
}

.right .contact img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.right .contact p {
  margin-left: 10px;
}


.contact .icons {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #B1B1B1;
  margin-left: auto;
  margin-right: 10px;
}

.contact .icons i {
  cursor: pointer;
}

.contact .icons i:not(:last-child) {
  margin-right: 20px;
}

.messages {
  width: 100%;
  height: calc(100% - 145px);
  background-image: url("img/background.png");
  background-position: left;
  background-size: contain;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.received p {
  position: relative;
  display: inline-block;
  padding: 15px 50px 20px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  max-width: 80%;
}

.sent {
  margin-left: auto;
}

.sent p {
  position: relative;
  display: inline-block;
  padding: 15px 50px 20px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #D5F9BA;
}

.received p span,
.sent p span {
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 0.6em;
  padding-bottom: 5px;
  color: grey;
}

.text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #F3EEEA;
}

.text i {
  font-size: 1.3em;
  color: #6B7376;
  cursor: pointer;
}

.text input[type="text"] {
  width: 80%;
  margin: 0 40px;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
