* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

main {
  position: relative;
}

.topBG {
  height: 150px;
  width: 100%;
  background-color: #259688;
}

.bottomBG {
  height: calc(100vh - 150px);
  width: 100%;
  background-color: #DDDCD2;
}

.box {
  display: flex;
  width: 80%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.left {
  width: 35%;
  height: 100%;
  border-right: 1px solid #D6D6D6;
}

.right {
  width: 65%;
  height: 100%;
}

.user {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  background-color: #EAEAEA;
}

.info {
  width: 70%;
  display: flex;
  align-items: center;
}

.user .info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}

.user .info p {
  font-weight: 400;
}

.user .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  font-size: 1.3em;
  color: #B1B1B1;
}

.user .icons i {
  cursor: pointer;
}

.user .icons i:not(:last-child) {
  margin-right: 20px;
}

.notify {
  display: flex;
  padding: 15px;
  background-color: #8EDAFC;
}

.notify .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: white;
  color: #8EDAFC;
}

.notify .testi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notify .testi p:last-child {
  color: #5d7485;
  font-size: 0.9em;
  text-decoration: underline;
  cursor: pointer;
}

.search {
  padding: 15px;
}

.search i {
  color: #B1B1B1;
  cursor: pointer;
}

.search input[type="text"] {
  width: 90%;
  margin-left: 15px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #D6D6D6;
}

.list {
  width: 100%;
  min-height:100px;
  max-height: 703px;
  overflow-y: scroll;
}

.list .active {
  background-color: #E9EBEB;
}

.list .container {
  display: flex;
  padding: 10px 15px;
}

.list .container div:nth-child(2) {
  margin-left: 10px;
}

.list .container div img {
  width: 60px;
  height: 60px;
}
